# Rust
target/
**/*.rs.bk
*.pdb

# Cargo
Cargo.lock

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Python
/.venv/
__pycache__/
*.py[cod]

# Folders
/RLSS
/Coding
/ML
/FractionalKelly
/Interviews

# OS
.DS_Store
Thumbs.db
